# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Bases de datos
*.db
*.sqlite3

# Certificados
certs/

# Logs
logs/
*.log

# Archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
.DS_Store
.idea/
.vscode/
*.swp
*.swo 